{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    


<div class="container center_div">
							<div class="card-body">
								<div class="m-sm-4"><br>
                                    <h4 style="text-align: center;">Nouvelle Article</h4>
{{ include('article/_form.html.twig') }}
        <br>
  
    </div>
    </div></div>
    

{% endblock %}
