<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class='container'>
     <a href='/' class='navbar-brand'>title</a>
     <button class="navbar-toggler" datatoggle="collapse" data-targer="#mobile-nav">
        <span class="navbar-toggle-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="mobile-nav">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">ajouter article</a>
            </li>
         </ul>
     </div>
  <div/>
</nav>